.our-services {
    text-align: center;
    background-color: #fff6ed;
    height: 700px;
}
.our-services__h2 {
    color: #040f73;
    font-family: 'Rubik', sans-serif;
    font-size: 68px;
    padding-top: 10%;
}
.our-services__p {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #424875;
    font-size: 19px;
}
.our-services__card__wrapper {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.our-services-item {
    border-radius: 10%;
    margin-right: 30px;
    width: 350px;
    height: 400px;
    background-color: white;
    
}
.our-services__img {
    width: 350px;
    height: 250px;
}
.our-services__h3 {
    color: #040f73;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    padding-top: 10%;
}
.our-services__h4 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #424875;
    font-size: 15px;
}
.our-services__h5 {
    color: #ff5b2e;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}